<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402387492032-imgvjhn93v32bifuj85r9etatb96oaps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402387492032-imgvjhn93v32bifuj85r9etatb96oaps</string>
	<key>API_KEY</key>
	<string>AIzaSyCF88CmPPQZHJ4DAAbckYmgppQ1GjFlBcY</string>
	<key>GCM_SENDER_ID</key>
	<string>402387492032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homework</string>
	<key>PROJECT_ID</key>
	<string>icm-flutter-6822e</string>
	<key>STORAGE_BUCKET</key>
	<string>icm-flutter-6822e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402387492032:ios:05110c74d52fcfe40ee125</string>
</dict>
</plist>